@model ECPMaster.ViewModels.EditRoleViewModel

@{
    ViewData["Title"] = "Edit Role";
}
<div class="container">
    <section>
        <div class="page-main-header">@ViewData["Title"]</div>
        <div class="page-sub-header">
            Create a agent node with suitable configurations
        </div>
    </section>
    <section class="mt-2 main-page-content">
        <div class="col-sm-12">
            <form method="post" asp-action="EditRole" asp-controller="Administration">
                 <div asp-validation-summary="All" class="text-danger"></div>
                <div class="my-card mt-5">
                    <div class="my-card-header">Role ID: @Model.Id</div>
                    <div class="my-card-body">
                        <div class="my-input-label mb-1">Role name</div>
                        <input
                            class="form-control"
                            type="text"
                            asp-for="RoleName"
                            placeholder="e.g. Administrator"/>
                        <div class="my-input-footer-label mb-2 mt-1">
                            *Role name for the selected role
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <button class="my-btn mr-2">Update</button>
                            <a asp-action="ListRoles" asp-controller="Administration" class="my-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>

            <div class="d-flex justify-content-end mt-5">
                <a class="my-btn" asp-action="EditUsersInRole" asp-controller="Administration" asp-route-roleId="@Model.Id">Add or remove user</a>
            </div>

            <div class="my-card mt-3">
                <div class="my-card-header">Users assigned for the role</div>
                <div class="my-card-body">
                    <ol style="font-size: 14px;">
                        @foreach (var user in Model.Users)
                        {
                            <li>@user</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </section>
</div>