@{
    ViewData["Title"] = "Configure Agent";
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/view-agents/view-agents.css"/>
}

<div class="container">
    <section>
        <div class="page-main-header">@ViewData["Title"]</div>
        <div class="page-sub-header">
            Create a agent node with suitable configurations
        </div>
    </section>
    <section class="mt-2 main-page-content">
        <div class="col-sm-10">
            <div class="my-card mt-5">
                <div class="my-card-header">Create agent</div>
                <div class="my-card-body">
                    <div class="col-sm-9">
                        <div class="my-input-label mb-1">Name</div>
                        <input
                            class="form-control"
                            type="text"
                            placeholder="e.g. Identifier for the agent"/>
                        <div class="my-input-footer-label mb-2 mt-1">
                            *Unique identifier for the distinguish the slave node
                        </div>
                        <div class="mt-1"></div>

                        <div class="my-input-label mb-1">IPv4</div>
                        <input
                            class="form-control"
                            type="text"
                            placeholder="e.g. 0.0.0.0.0/24"/>
                        <div class="my-input-footer-label mb-2 mt-1">
                            *Public IPv4 address of the slave node
                        </div>
                        <div class="mt-1"></div>

                        <div class="my-input-label mb-1">Domain (Optional)</div>
                        <input
                            class="form-control"
                            type="text"
                            placeholder="e.g. test.evisionmicro.com"/>
                        <div class="my-input-footer-label mb-2 mt-1">
                            *DNS record which maps the above IPv4 address
                        </div>
                        <div class="mt-1"></div>

                        <div class="my-input-label mb-1">Listening Port</div>
                        <input
                            class="form-control"
                            type="text"
                            placeholder="e.g. 5020"/>
                        <div class="my-input-footer-label mb-2 mt-1">
                            *Exposed port of the slave agent
                        </div>
                        <div class="mt-1"></div>
                        <div class="d-flex justify-content-end mt-4">
                            <button class="my-btn mr-2">Test connection</button>
                            <button class="my-btn">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>