@model ECPMaster.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<div class="container">
    <section>
        <div class="page-main-header">@ViewData["Title"]</div>
        <div class="page-sub-header">
            Create a agent node with suitable configurations
        </div>
    </section>
    <section class="mt-2 main-page-content">
        <div class="col-sm-12">
            <form method="post" asp-action="ResetPassword" asp-controller="Account">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="my-card mt-5">
                    <div class="my-card-header">Password reset for @Model.Email</div>
                    <div class="my-card-body">
                        <input hidden="hidden" asp-for="Email">
                        <input hidden="hidden" asp-for="token">
                        <div class="my-input-label mb-1">New password</div>
                        <input
                            class="form-control"
                            type="password"
                            asp-for="NewPassword"
                            placeholder="e.g. Administrator"/>
                        <div class="my-input-footer-label mb-2 mt-1">
                            *Enter the new password
                        </div>
                        <div class="my-input-label mb-1">Confirm password</div>
                        <input
                            class="form-control"
                            type="password"
                            asp-for="ConfirmPassword"
                            placeholder="e.g. Myname"/>
                        <div class="my-input-footer-label mb-2 mt-1">
                            *Confirmed the entered password
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <button class="my-btn-danger mr-2">Reset password</button>
                            <a asp-action="ListUsers" asp-controller="Administration" class="my-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>